<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDK04UujCcqzN66LO9UwCq0YQIMZvBh-KI</string>
	<key>GCM_SENDER_ID</key>
	<string>61041391803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.LeGame</string>
	<key>PROJECT_ID</key>
	<string>legame-6f1ea</string>
	<key>STORAGE_BUCKET</key>
	<string>legame-6f1ea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:61041391803:ios:92b35062ca2c1ea3cfd19e</string>
</dict>
</plist>